snippet md "module dependence" 
/*
 * module dependence
 */

 var $1 = require('$1')$2
endsnippet


snippet ,r "CMD require" !
, $1 = require('$1')$2
endsnippet

snippet expo "module exports" b
exports = module.exports = ${1:module};
endsnippet

snippet exp "exports" b
exports.${1:method}
endsnippet
